
<section class="flex items-center ">
  <div class="p-8 rounded max-w-md w-full mx-auto shadow-md shadow-gray-600">
    <h1 class="text-2xl font-semibold mb-4">Datos Personales</h1>
    <form [formGroup]="perfilForm" (ngSubmit)="onSubmitPerfil()" method="post">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="firstName" class="block text-sm font-medium text-gray-700">Nombre</label>
          <input type="text" id="firstName" name="firstName" formControlName="firstName" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="lastName" class="block text-sm font-medium text-gray-700">Apellido</label>
          <input type="text" id="lastName" name="lastName" formControlName="lastName" class="mt-1 p-2 w-full border rounded-md">
        </div>
      </div>

      <div class="mt-4">
        <label for="address" class="block text-sm font-medium text-gray-700">Dirección</label>
        <input type="text" id="address" name="address" formControlName="address" class="mt-1 p-2 w-full border rounded-md">
      </div>

      <div class="mt-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <input type="email" id="email" name="email" formControlName="email" class="mt-1 p-2 w-full border rounded-md">
      </div>

      <div class="mt-4">
        <label for="document" class="block text-sm font-medium text-gray-700">DNI</label>
        <input type="text" id="document" name="document" formControlName="document" class="mt-1 p-2 w-full border rounded-md">
      </div>

      <div class="grid grid-cols-2 gap-4 mt-6">
          <button type="button" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Modificar</button>
          <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Guardar</button>
      </div>
    </form>
  </div>

  <div class="p-8 rounded max-w-md w-full mx-auto shadow-md shadow-gray-600">
    <h1 class="text-2xl font-semibold mb-4">Modificar Contraseña</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()" method="post">
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password" name="password" formControlName="password" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="newPassword" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
          <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" class="mt-1 p-2 w-full border rounded-md">
        </div>
      </div>
      <!-- Mensaje de error -->
      <div *ngIf="passwordForm.hasError('passwordMismatch')" style="color: red;">
        Las contraseñas no coinciden o deben tener al menos 8 caracteres
      </div>

      <div class="grid grid-cols-2 gap-4 mt-6">
          <button type="button" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Modificar</button>
          <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Guardar</button>
      </div>
    </form>
  </div>
</section>
