
<section id="principal">
  <div class="wrapper">
    <form action="#">
      <h2>Iniciar Sesion</h2>
      <div class="input-field">
        <input type="text" required>
        <label for="">Usuario</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label for="">Contraseña</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>¿Eres administrador?</p>
        </label>
      </div>
      <button type="submit">Iniciar</button>
    </form>
  </div>
</section>



