<section class="flex justify-center gap-11">
  <article class="max-w-[30%] w-[330px] h-[600px] rounded-xl border py-4 px-3 shadow-md shadow-gray-600">
    <div class="flex justify-center px-2 text-base text-gray-700">
      <h2 class="font-bold">Habitaciones Disponibles</h2>
    </div>
    <div class="flex max-h-[510px] flex-col overflow-y-scroll mt-4">
      <h3 class="my-2 px-4 text-[15px] text-gray-400">Simple</h3>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">101</p>
          <span class="text-xs font-light text-gray-400">cama, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">102</p>
          <span class="text-xs font-light text-gray-400">cama, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">103</p>
          <span class="text-xs font-light text-gray-400">cama, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">104</p>
          <span class="text-xs font-light text-gray-400">cama, baño con ducha, wifi</span>
        </div>
      </button>
      <h3 class="my-2 px-4 text-[15px] text-gray-400">Doble</h3>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">201</p>
          <span class="text-xs font-light text-gray-400">cama doble, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">202</p>
          <span class="text-xs font-light text-gray-400">cama doble, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">203</p>
          <span class="text-xs font-light text-gray-400">cama doble, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">204</p>
          <span class="text-xs font-light text-gray-400">cama doble, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">205</p>
          <span class="text-xs font-light text-gray-400">cama doble, baño con ducha, wifi</span>
        </div>
      </button>
      <h3 class="my-2 px-4 text-[15px] text-gray-400">Matrimonial</h3>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">301</p>
          <span class="text-xs font-light text-gray-400">cama king, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">302</p>
          <span class="text-xs font-light text-gray-400">cama king, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">303</p>
          <span class="text-xs font-light text-gray-400">cama king, baño con ducha, wifi</span>
        </div>
      </button>
      <button
        class="group flex items-center gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100">
        <div class="flex h-12 w-12 items-center rounded-lg bg-gray-200 text-black group-hover:bg-green-200">
          <span class="tag w-full text-center text-2xl font-medium text-gray-700 group-hover:text-green-900">
            <svg class="mx-auto h-6 w-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
        <div class="flex flex-col items-start justify-between font-light text-gray-600">
          <p class="text-[15px]">304</p>
          <span class="text-xs font-light text-gray-400">cama king, baño con ducha, wifi</span>
        </div>
      </button>
    </div>
  </article>

  <article class="p-8 rounded-xl border shadow-md shadow-gray-600 max-w-[70%] w-[700px]">
    <h2 class="text-2xl font-semibold mb-4">Registro</h2>
    <form action="#" method="POST">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="document" class="block text-sm font-medium text-gray-700">DNI</label>
          <input type="text" id="document" name="document" class="mt-1 p-2 w-full border rounded-md" required>
        </div>
        <div class="flex items-end">
          <button type="submit" class="bg-blue-400 text-white rounded-md hover:bg-blue-600 w-[100px] h-[40px]">Buscar</button>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <label for="firstName" class="block text-sm font-medium text-gray-700">Nombre</label>
          <input type="text" id="firstName" name="firstName" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="lastName" class="block text-sm font-medium text-gray-700">Apellido</label>
          <input type="text" id="lastName" name="lastName" class="mt-1 p-2 w-full border rounded-md">
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <label for="phone" class="block text-sm font-medium text-gray-700">Telefono</label>
          <input type="tel" id="phone" name="phone" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
          <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md">
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4 mt-4">
        <div>
          <label for="person" class="block text-sm font-medium text-gray-700">N°Personas</label>
          <input type="number" id="person" name="person" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="startDate" class="block text-sm font-medium text-gray-700">Fecha de Inicio</label>
          <input type="datetime-local" id="startDate" name="startDate" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="endDate" class="block text-sm font-medium text-gray-700">Fecha de Fin</label>
          <input type="datetime-local" id="endDate" name="endDate" class="mt-1 p-2 w-full border rounded-md">
        </div>
      </div>

      <div class="grid grid-cols-4 gap-4 mt-4">
        <div>
          <label for="roomNumber" class="block text-sm font-medium text-gray-700">N°Habitación</label>
          <input type="number" id="roomNumber" name="roomNumber" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="roomType" class="block text-sm font-medium text-gray-700">Tipo de Habitación</label>
          <input type="text" id="roomType" name="roomType" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="priceNight" class="block text-sm font-medium text-gray-700">Precio por Noche</label>
          <input type="number" id="priceNight" name="priceNight" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div>
          <label for="finalNight" class="block text-sm font-medium text-gray-700">Precio Final</label>
          <input type="number" id="finalNight" name="finalNight" class="mt-1 p-2 w-full border rounded-md">
        </div>
      </div>

      <div class="mt-6 grid grid-cols-2 gap-4">
        <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Registrar</button>
        <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Limpiar</button>
      </div>
    </form>
  </article>
</section>
