/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --default_font: 'Barlow', sans-serif;
  --secondary_font: 'Barlow Condensed', sans-serif;
  --third_font: 'Noto Serif Display', serif;
}

